.drinkName{font-size: 2vh;
    padding: 5px 0px;
    text-align: center;
    color: aliceblue;}
    .menuCard{
        background-color: black;
        border-radius: 3px;
        padding:10px;
        margin:10px;
        width: 20vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width:1000px;
        margin:auto    
    }

    .NavContainer{
        background-color: black;
        display: flex;
        justify-content: flex-end;
        color:aliceblue;
        font-weight: 900;
        margin: 5px;
        padding: 5px;
        /* overflow: hidden; */
        position: sticky;
        top:0;
        width: 99%;
        z-index: 10;
    }

   .topMainMenuContainer{
        width: 100%;
        /* position: relative; */
        border-top: .10px solid rgb(255, 255, 255);
        position: sticky;
        top: 0;
    }
    .homeImage{
        width: 100%;
        position: relative;
        margin: 20px
    }
    .searchDiv{
    /* border-top: 2px solid salmon; */
    border: .10px solid white;
    width: 40%;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.139);
    border-radius: 0px 0 0 20px;
    height: 40vh;
    top:0;
    right:0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    text-align: center;
    }

    .searchDiv:hover{
    background-color: rgba(255, 255, 255, 0.2);
    }
    input{
        background-color: rgb(0, 0, 0);
        height: 5vh;
        color:aliceblue;
        z-index: 90;
        width: 20vw;
        padding: 5px;
        margin: 5px;
    }
  ::placeholder{
      color: white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large;
  }


 

   